* {
  box-sizing: border-box;
}

/* body {
  background-image: url(../img/ozero_gory_les_152659_3840x2160.jpg);
  background-size: cover;
  background-position: right bottom;
  background-attachment: fixed;
} */
img {
  max-width: 100%;
  height: auto;
}

.main-content {
 flex-grow: 1;
}
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.main-content {
  display: flex;
}

.button-itm {
  display: flex;
  align-items: center;
}

.button-itm::before {
  width: 20px;
  height: 20px;
 content: "";
 background-image: url("../img/location.svg");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
 margin-right: 5px;
}

.link-text {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-text::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/menu.svg");
  background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
}