* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/ozero_gory_les_152659_3840x2160.jpg);
  background-size: cover;
  background-position: right bottom;
  background-attachment: fixed;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.demo {
 color: aliceblue;
}